/* GLOBAL VARIABLES */
:root {
    --primary-color: #e7e4bb;
    --active-color: #f0a500;
    --text-color: #333;
    --text-secondary-color: #666;
    --default-background-color: #f9f9f9;
    --default-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.07);
    --mobile-font-size: 0.9rem;
    --mobile-table-font-size: 0.75rem;
    --font-size: 1rem;
    --default-font-family: 'Lora', sans-serif;
    --standard-border-radius: 1rem;
}


/* LOGIN */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    background: var(--default-background-color);
    border-radius: var(--standard-border-radius);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.captcha-container {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

#captcha-canvas {
    border: 1px solid #ddd;
    border-radius: var(--standard-border-radius);
}

#refresh-captcha {
    padding: 0.5rem;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: var(--standard-border-radius);
}

/* START ADMIN CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    touch-action:manipulation;
}

html {
    scroll-behavior:smooth;
}

body {
    /* background: #e7e7e1; */
    background: var(--default-background-color);
    font-family: var(--default-font-family);
    color: var(--text-color);
    cursor: default;
}

section {
    margin: 3rem 1rem 3rem 1rem;
}

/* TEXT ELEMENTS */

h1, h2, h3, h4 {
  text-align:center;
  font-weight:normal;
  color: var(--text-color);
}

h1 {
  font-size:2rem;
}

h2 {
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 0.75rem;
    font-size:1.375rem;
}

h4 {
    font-size:1.25rem;
}

small,label, select, option, .no-data-message {
  font-size: var(--font-size);
}

a {
    color: var(--text-color);
}

/* HEADER NAV */

.title {
  margin: 2rem 0 1rem 0;
  justify-self:center;
  width:100%;
}

header {
  background: var(--primary-color);
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
  padding-top:0.125rem;
  padding-bottom:0.125rem;
  z-index: 5;
}

.navigation-layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(1rem, 11rem));
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.logo {
  margin:0 5rem;
  height: 4.5rem;
  width:4.5rem;
  cursor: pointer;  
}

.nav-link {
    position:relative;
    text-decoration: none;
}

.hover-underline:before{
    content:"";
    position:absolute;
    bottom: -0.125rem;
    left: 50%;
    height: 0.125rem;
    width:0;
    background: #3d3c33;
    transition: 0.15s;
}

.hover-underline:hover::before{
    width:100%;
    left:0;
}

.nav-link:hover {
    transition: 0.15s ease-in-out;
}

.nav-item{
  font-size:1.625rem;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* GRIDS */

  /* Admin page grid */

    .calendar-grid {
      display:grid;
      grid-template-columns: 2fr 1.75fr 1.25fr;
    }

    .pendApprove{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      grid-area: 1 / 1 / 1 / 2;
      padding: 0 1.5rem 1.5rem 0;
    }

    .adminCalendar {
      display:flex;
      flex-direction: column;
      grid-area: 1 / 2 / 1 / 3;
      padding: 0 1.5rem 1.5rem 1.5rem;
      border-left: solid 0.125rem var(--primary-color);
    }

    .active-holidays{
      display: flex;
      flex-direction: column;
      grid-area: 1 / 3 / 1 / last-line;
      padding: 0 0 1.5rem 1.5rem;
      border-left: solid 0.125rem var(--primary-color);
    }

  /* Clients page grid */

    .clients-grid {
      display: grid;
      grid-template-columns: 2fr 3fr 5fr 5fr;
      gap: 2rem;
    }

    .client-page {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: var(--default-box-shadow);
      padding:0.5rem;
    }

    .analytics-dashboard {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: var(--default-box-shadow);
    }

  /* Subscriptions page grid */
    .subscriptions-grid {

    }

/* TABLES */

.table-container {
  margin-bottom:1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  border-radius: var(--standard-border-radius);
  outline: 0.05rem solid var(--primary-color);
  padding:0.125rem 0.25rem;
  overflow-x:auto;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}

th, td { 
  border-left: 0.065rem solid var(--primary-color);
  padding: 0.33rem; 
  text-align: center; 
}

td {
  font-size: var(--font-size);
}

th, td:first-child { border-left: none; }

th {
  font-weight: 600;
  font-size:1.125rem;
  margin-bottom:0.125rem;
}

tr:hover {
  background-color: #f5f5f5;
  transition: 0.2s;
}

.row-rejected {
  background-color: #ffcccc;
}

.row-canceled {
  background-color: #c9a0a0;
}

.row-approved {
  background: #d6f5d6;
  color: #222;
}

.row-pending {
  background: #79dd68;
  color: #222;
}

button { 
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: var(--font-size);
    font-family: var(--default-font-family);
    font-weight: 300;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

button:hover { 
  background: var(--active-color);
  color: var(--default-background-color);
}

.approve-btn, .reject-btn {
  margin:0 0.125rem;
  cursor:pointer;
  width: 2.5rem;
  mix-blend-mode:darken;
  /* outline: 0.25rem transparent; */
}

.approve-btn:hover {
  filter:drop-shadow(0 0 0.25rem #79dd68);
  transition:0.2s
}

.reject-btn:hover {
  filter:drop-shadow(0 0 0.25rem #db4f4f);
  transition:0.2s
}

.remove-btn, .add-holiday-btn, .cancel-btn, .add-booking-btn {
  font-size: var(--font-size);
  padding: 0.25rem 0.5rem;
}

/* Manual entry form */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    z-index: 1000;
    background-color: var(--default-background-color);
    padding: 20px;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--default-box-shadow);
    opacity: 0;
    transition: all 0.3s ease;
    max-width: 90%;
    width: 500px;
}

.modal.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-overlay.active {
    display: block;
    opacity: 1;
}

.requestServices {
    max-height: 80vh;
    overflow-y: auto;
}

label {
    margin-top: 0.25rem;
}

.history-filters input {
    padding: 0.25rem 0.5rem;
    margin-top: 0.125rem;
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--primary-color);
    font-size: var(--font-size);
    font-family: var(--default-font-family);
}

.history-filters .clear-filter {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    z-index: 1001;
}

.history-filters .clear-filter:hover {
    color: #f0a500;
}

.requestServices input,
.requestServices select {
    width: 100%;
    padding: 0.375rem 1rem;
    margin-top: 0.25rem;
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--primary-color);
    font-size: var(--font-size)
}

.booking-hint {
  color: #666;
  font-size: var(--mobile-font-size);
  margin-top: 0.5rem;
  display: block;
}

#subscribe-email {
    width:5%;
}

.form-buttons {
    display:flex;
    gap:1rem;
    justify-content: center;
}

.requestServices button {
    margin-top: 0.5rem;
    font-size: var(--font-size);
}
.requestServices button:hover {
    background: var(--active-color);
    color: var(--default-background-color);
}

/* Minimalistic calendar styles */
.calendar-wrap{
  padding: 1rem;
  background-color: var(--default-background-color);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--default-box-shadow);
}

#admin-calendar {
  min-height:27rem;
}

#user-calendar {
    margin: 1rem auto;
}
.calendar-week-row {
    gap: 0.05rem;
    margin: 0.125rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.calendar-day-col {
    flex: 1;
    background: var(--default-background-color);
    min-width: 3rem;
    max-width: 5rem;
}

.calendar-day-col.today-highlight {
    outline: 0.125rem solid var(--active-color);
    border-radius: 0.25rem;
    z-index:1;
}

.calendar-day-header {
    font-size: var(--font-size);
    text-align: center;
    box-shadow: #d6f5d6 0.125rem 0 0.25rem;
    border-radius:0.25rem;
    padding:0.125rem;
    cursor:default;
}
.calendar-day-header:hover {
    opacity:0.7;
    transition:0.1s;
    transition: box-shadow 0.2s;
    cursor:pointer;
}

.calendar-day-header.selected {
    outline: 0.125rem solid #60f000;
    transition: 0.05s;
    cursor: pointer;
    z-index:10;
    position:relative;

}

.calendar-slots-col {
    display: flex;
    flex-direction: column;
}

.slot {
    font-family: var(--default-font-family);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.125rem 0.05rem 0rem 0.05rem;
    cursor: pointer;
    font-size: var(--font-size);
    transition: background 0.2s;
}

.slot:hover {
    opacity:0.7;
    transition:0.1s;
}

.slot.available {
    background: #d6f5d6;
    color: #222;
}
.slot.taken {
    background: #ffd699;
    color: #222;
    cursor: pointer;
}

.slot.pending {
    background: #79dd68;
    color: #222;
    cursor: pointer;
}

.slot.past {
    background: #e0e0e0; /* Grey out past slots */
    color: #666;
    cursor: pointer;
}

.slot.holiday {
    background: #f3b3d6; /* Grey out holiday slots */
    color: #70405a;
    cursor: pointer;
}

.slot.rejected {
  background-color: #ffcccc;
  color: #666;
  cursor: pointer;
}

.slot.canceled {
  background-color: #c9a0a0;
  color: #666;
  cursor: pointer;
}

.slot.week {
  background:transparent;
  color: black;
  outline: 0.125rem solid var(--active-color);
}

.slot.selected {
  outline: 0.125rem solid #60f000;
  z-index:3;
  transition: 0.05s;
}

.slot.available.active,
.slot.canceled.active,
.slot.pending.active,
.slot.rejected.active {
    outline: 0.125rem solid var(--active-color);
}

.hint {
    margin-top:0.5rem;
    text-align:center;
    font-size: var(--font-size);
    scroll-margin-top:5rem;
}

.calendar-nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.week-nav-btn {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--standard-border-radius);
    padding: 0.625rem 1rem;
    font-size: var(--font-size);
    font-family: var(--default-font-family);
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}
.week-nav-btn:hover {
  background: var(--active-color);
  color: var(--default-background-color);
}

/* History filters */
.history-filters {
    display: flex;
    gap: 0.25rem;
    margin: 0.5rem 0;
    flex-direction: column;
    align-items: center;
}

.by-date {
  display:flex;
  gap:0.25rem;
}

.no-data-message {
    text-align: center;
    font-size: var(--font-size);
    padding: 1rem;
    color: var(--text-secondary-color);
}

.website-signature{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: var(--mobile-font-size);
    gap: 0.25rem;
    margin:1rem;
}

.links {
    position:relative;
    font-family: var(--default-font-family);
    text-decoration: none;
    color: #18004c;
}

.links:hover {
    color: #18004c99;
    transition: 0.15s ease-in-out;
} 

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.pagination-btn {
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    border: none;
    border-radius: 0.66rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin:0.3rem;
}

.pagination-btn:hover {
    transform: translateY(-2px);
    /* border-radius:0.5rem; */
}

.pagination-btn.active {
    background: var(--active-color);
    color: var(--default-background-color);
    font-weight: bold;
}

#bookingHistoryTable tr {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* /////////////////  */
/* Client Page Styles */
/* /////////////////  */

.topClients {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25rem;
    transition: opacity 0.3s ease-in-out;
}

.clientInfo {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slideIn 0.3s ease-in-out;
}

.client-info-content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.close-client-info {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.close-client-info:hover {
    color: var(--active-color);
}

.info-section {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background: #f5f5f5;
    border-radius: 0.5rem;
    border-left: 0.125rem solid var(--primary-color);
    width:100%;
}

.info-section h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;
    border-bottom: 0.05rem solid var(--primary-color);
    align-items: center;
}

.info-item:last-child {
    border-bottom: none;
}

.info-item label {
    font-weight: 600;
    color: var(--text-color);
    margin-right: 1rem;
}

.phone-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.phone-link:hover {
    color: #f0a500;
}

#clientCards {
    display: flex;
    flex-direction: column;
}

.card-item {
    cursor:pointer;
    padding: 1rem;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--default-box-shadow);
}

.card-item:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.3s ease-in-out, box-shadow 0.2s;
}

.card-item h5 {
    text-align:center;
    color: var(--active-color);
}

.card-item-detail {
    display: flex;
    justify-content: space-between;
    font-size: var(--mobile-font-size);
    align-items: center;
    padding:0.125rem;
}

.card-item-detail label {
    font-weight: 600;
    margin-top:0;
    font-size: var(--mobile-font-size);
}

.edit-client-btn {
    margin-top: 0.5rem;
    font-size: var(--font-size);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ///////////////// */
/* Responsive Design */
/* ///////////////// */

@media (max-width: 768px) {

h1 {
  font-size:1.5rem;
}

h2 {
  font-size: var(--font-size);
  font-weight:bold;
  margin: 0.5rem 0;
}

small,label, select, option, .no-data-message {
  font-size: var(--mobile-font-size);
  font-family: var(--default-font-family);
}

.no-data-message {
  padding:0.5rem;
}

section {
  margin: 0 1rem 4.5rem 1rem
}

.table-container {
  margin:0;
}

.nav-item {
    font-size: 1.125rem;
}

.logo {
    margin:0 2rem;
    height: 3rem;
    width: 3rem;
}

/* Navigation */
.navigation-layout {
  grid-template-columns: 1.5fr 1fr 1.5fr;
}

.pendingBookings {
  margin-bottom:1rem;
}

.approvedBookings {
  margin-bottom:0.33rem;
}

 .add-holiday-btn, .add-booking-btn {
  font-size: 0.9rem;
}

.remove-btn, .cancel-btn {
  font-size: 0.65rem;
}

/* GRID SECTIONS */
.pendApprove {
  border:0;
  padding:0;
}
.adminCalendar {
  padding:0;
  margin-bottom:0.5rem;
  border:0
}
.active-holidays {
  padding:0;
  margin-bottom:0.5rem;
  border:0;
  width:100%;
}

.calendar-grid, .clients-grid, .subscriptions-grid {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap:0.33rem;
}

/* Table adjustments */
table {
  font-size: var(--mobile-font-size);
}

th {
  padding: 0.15rem;
  font-size: 0.75rem;
}

td {
  font-size: var(--mobile-table-font-size);
}

th, td {
  border-left: 1px solid var(--primary-color);
}

th, td:first-child { border-left: none; }

button {
  font-size: var(--mobile-font-size);
  padding: 0.25rem 0.4rem;
  margin: 0.2rem;
}

.approve-btn, .reject-btn {
  width:1.3rem;
}

.approve-btn {
  filter:drop-shadow(0 0 0.125rem #79dd68);
}

.reject-btn {
  filter:drop-shadow(0 0 0.125rem #db4f4f);
}

.hint { 
  margin:0.33rem 0;
}

.by-date {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#startDate, #endDate {
  font-size: var(--mobile-font-size);
}

/* Calendar adjustments for mobile */
#admin-calendar {
  min-height:23rem;
}
.calendar-wrap {
  position: static;
  transform: none;
  margin-bottom: 0.5rem;
  padding: 0.33rem;
}

.calendar-nav {
  margin-bottom:0.33rem;
  gap:0.33rem
}

.calendar-week-row {
  display: flex;
  grid-template-columns: repeat(7, minmax(0.5rem, 1fr));
  justify-items: center;
}
.calendar-day-col {
  min-width: unset;
  margin-bottom: 0.25rem;
}

.week-nav-btn{
  font-size: var(--mobile-font-size);
  padding: 0.33rem 0.66rem;
  border-radius:0.66rem;
}

.calendar-slots-col
{
  margin-top:auto;
  /* margin-bottom:auto; */
}

.calendar-day-header{
  font-size: var(--mobile-font-size);
}

.slot {
    padding: 0.25rem 0.375rem;
    border-radius:0.25rem;
    font-size:0.7rem;
}

.pagination-btn {
    padding: 0.3rem 0.7rem;
    font-size: var(--mobile-font-size);
}

/* Client page adjustments */
    .client-page {
        min-height: 20rem;
        padding: 1rem;
    }

    .topClients {
        min-height: 15rem;
    }

    .close-client-info {
        font-size: 1.5rem;
        right: 0.5rem;
        top: -0.5rem;
    }

    .info-section {
        padding: 0.75rem;
        margin-bottom: 1rem;
    }

    .info-item {
        flex-direction: column;
        gap: 0.25rem;
    }

    .info-item label {
        margin-right: 0;
    }

    .client-info-content h3 {
        font-size: 1.25rem;
    }
}